@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: 'Absans';
  src: url('../fonts/Absans-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------------------------------------- Global  ----------------------------------------------------------------------*/

@layer base {
  .border {
    @apply border-[0.5px] border-gray-200
  }

  .text-purple {
    @apply text-[#6716DE]
  }

  .border-purple {
    @apply border-[#6716DE]
  }

  .text-beige {
    @apply text-[#FCF2F2]
  }

  .border-beige {
    @apply border-[#FCF2F2]
  }

  .bg-beige {
    @apply bg-[#FCF2F2]
  }

  .bg-purple {
    @apply bg-[#6716DE]
  }

  .containers {
    @apply 2xl:container 2xl:mx-auto xl:mx-20 sm:mx-auto
  }
}

:root {
  color-scheme: dark;
  --line: color-mix(in lch, canvasText 15%, transparent);
}

:root[data-theme=light] {
  color-scheme: light only;
  --line: color-mix(in lch, canvasText 35%, transparent);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: whitesmoke;
  width: 100%;
}

h1,h2,.absans{
  font-family: 'Absans', sans-serif;
}

p, a, h3, h4, h5, h6, span, div, button, input, label, select, textarea{
  font-family: 'Inter', sans-serif;
}


:root {
  --color-gray-100: 241 245 249;
  --color-gray-300: 203 213 225;
  --color-gray-400: 148 163 184;
  --color-gray-600: 71 85 105;
  --color-gray-700: 51 65 85;
  --color-gray-800: 30 41 59;
  --color-scrollbar-thumb: 94 29 213; /* #5e1dd5 */
  --color-scrollbar-track: 49 51 59; /* #31333b */
}

.nuxt-ui-scrollbars ::-webkit-scrollbar {
  background-color: transparent;
  height: .6em;
  width: .6em;
}

.nuxt-ui-scrollbars ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  height: 3px;
  background-color: rgb(var(--color-scrollbar-track) / 1);
  background-color: rgb(var(--color-scrollbar-track) / var(--tw-bg-opacity));
}

.nuxt-ui-scrollbars ::-webkit-scrollbar-thumb {
  border-radius: .4em;
  --tw-bg-opacity: 0.5;
  height: 3px;
  background-color: rgb(var(--color-scrollbar-thumb) / 1);
  background-color: rgb(var(--color-scrollbar-thumb) / var(--tw-bg-opacity));
}

.nuxt-ui-scrollbars ::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-scrollbar-thumb) / 0.8); /* Slightly darken on hover */
  background-color: rgb(var(--color-scrollbar-thumb) / var(--tw-bg-opacity));
}

